<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="public/css/styles.css">
    <%- include('../partials/head'); %>

    <title></title>

  </head>
  <body>

    <header>
      <%- include('../partials/header'); %>

    </header>

    <nav>
      <a href="Personal List "></a>
      <a href="Work List"></a>
    </nav>

    </div>



< <script src="app.js" charset="utf-8"></script>
</body>
<footer>
  <%- include('../partials/footer'); %>

</footer>

</html>
